@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.website__padding{
    padding: 32px;
}

/* 

NAV

*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__img{
    width: 40px;
}

.nav__figure--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
}

.nav__treact-text{
    font-size: 24px;
    font-weight: 900;
    padding-left: 12px;
    letter-spacing: 0.03em;
}

/*links*/

.nav__link{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin: 0px 16px;
}

.nav__link--login{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin-left: 36px;
    margin-right: 16px;
}

.nav__link--button{
    text-decoration: none;
    color: white;
    background-color: #6415ff;
    border-radius: 16px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
}

/* 

START PAGE 

*/

.start__row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 0px;
}

.start__leftwrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start__img--wrapper{
    width: 55%;
}

.start__img{
    width: 100%;

}

.start__title{
    font-size: 48px;
}

.purple{
    color: #6415ff;
}

.start__paraone{
    font-size: 18px;
    margin-top: 36px;
    word-spacing: 0.05em;
}

.start__paratwo{
    font-size: 18px;
    word-spacing: 0.05em;
    margin-bottom: 36px;
}

.start__email{
    border: 2px solid lightgray;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.start__btn{
    border: none;
    background-color: #6415ff;
    color: white;
    border-radius: 48px;
    margin: 4px;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 28px;
    cursor: pointer;
}

.start__input--wrapper{
    border: none;
    padding-left: 24px;
    border-radius: 48px;
    font-size: 16px;
    font-weight: 500;
}

.start__customerstext{
    margin: 64px 0px 16px 0px;
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}

.start__customersimg{
    width: 100%;
    max-width: 380px;
}

/* 

FEATURES

*/

.container{
    padding: 80px 0px;
}

.features__row{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__title{
    font-size: 16px;
    letter-spacing: 1.6px;
}

.features__subtitle{
    font-size: 48px;
    font-weight: 800;
    padding: 26px 0px;
}

.features__para{
    max-width: 520px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7c8Ba1;
    word-spacing: 0.025em;
    letter-spacing: 0.015em;
}

/* SERVICES */

.services{
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
    justify-content: space-between;
}

.service{
    display: flex;
    width: calc(30%);
    margin-bottom: 24px;
    margin-left:;
    padding: 32px 8px;
}

.service__description{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.service__title{
    letter-spacing: 0.025em;
    margin-bottom: 12px;
}

.service__para{
    margin-top: 4px;
    color: #7c8Ba1;
    font-weight: 500;
    line-height: 2;
}

.service__img{
    position: relative;
    margin-top: 16px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 9999px;
    padding: 16px;
}

/*

QUALITY

*/

#quality .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 96px 0px;
}

.quality__description--wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 24px;
}

.quality__subtitle{
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #6415ff;
    margin-bottom: 16px;
}

.quality__title{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    max-width: 600px;
    letter-spacing: 1.2px;
}

.quality__para{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: #7c8Ba1;
    max-width: 540px;
    margin-bottom: 24px;
}

.quality__btn{
    text-decoration: none;
    color: white;
    background-color: #6415ff;
    border-radius: 24px;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.025em;
    border: none;
    width: 132px;
    margin-top: 6px;
}

.quality__img--wrapper{
    width: 50%;
    border: 1px solid #f0f4fa;
    border-radius: 2px;
}

.quality__img{
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

/*

EASY

*/

#easy .row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.easy__img--wrapper{
    width: 50%;
}

.easy__img{
    width: 100%;
    margin-top: 48px;
}

.easy__steps--wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.easy__steps{
    display: flex;
    margin-bottom: 36px;
}

.easy__step{
    display: flex;
    flex-direction: column;
}

.easy__number1{
    color: #cfdae9;
    font-size: 33px;
    font-weight: 400px;
    padding-right: 24px;
}

.easy__number2{
    color: #cfdae9;
    font-size: 33px;
    font-weight: 400px;
    padding-right: 18px;
}

.easy__step--title{
    font-weight: 400px;
    font-size: 20px;
    padding-bottom: 12px;
}

.easy__step--para{
    font-size: 14px;
    max-width: 300px;
    color: #7c8Ba1;
    font-weight: 500;
    line-height: 28px;
}

.easy__steps--box{
    margin-top: 20px;
}


